@use "src/scss/mixins";
@use "src/scss/variables";

.input {
  border-block-end: 1px solid variables.$stroke-color;
  font-size: 1rem;
  transition: border-color 0.25s ease-in-out;
  @include mixins.flex-center-y;

  &:hover {
    border-block-end-color: variables.$dark-grey;
  }

  &__field {
    width: 100%;
    padding-block: 0.75em;
    border: 0;

    &::placeholder {
      font-size: 1em;
      color: variables.$dark-grey;
    }
  }
}
