@use "src/shared/styles/mixins";
@use "src/shared/styles/variables";

.notFound {
  gap: 1.5em;
  width: 100%;
  height: 100%;
  font-size: 1rem;

  @include mixins.flex-center-column;

  &__title {
    font-size: 2.0625em;
    text-align: center;
  }

  &__subtitle {
    font-size: 1.25em;
    font-weight: 400;
    color: variables.$dark-grey;
    text-align: center;
  }

  &__link {
    margin-block-start: 1.875em;
  }
}
