@use "src/scss/mixins";
@use "src/scss/variables";
@use "sass:color";

.button {
  cursor: pointer;

  padding: 0.875em 1.375em;
  border-radius: 6px;

  font-size: 1rem;
  font-weight: 500;
  text-align: center;

  transition: scale 0.15s ease-in-out;

  @include mixins.hover {
    &:not([disabled]) {
      scale: 1.02;
    }
  }

  &:active {
    scale: 0.98 !important;
  }

  &--containedBlack {
    border: 1px solid variables.$black;
    color: variables.$white;
    background-color: variables.$black;
    transition:
      background-color 0.25s ease-in-out,
      scale 0.15s ease-in-out;

    @include mixins.hover {
      &:not([disabled]) {
        background-color: color.scale(variables.$black, $alpha: -15%);
      }
    }
  }

  &--outlinedBlack {
    border: 1px solid currentcolor;
    color: variables.$black;
    background-color: transparent;
    transition: color 0.25s ease-in-out;
  }

  &--outlinedWhite {
    border: 1px solid currentcolor;
    color: variables.$white;
    background-color: transparent;
  }

  &--fullwidth {
    width: 100%;
    @include mixins.flex-center;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
