@use "src/shared/styles/mixins";
@use "src/shared/styles/variables";

.input {
  gap: 0.5em;
  font-size: 1rem;
  @include mixins.flex-column;

  &__wrapper {
    border-block-end: 1px solid variables.$stroke-color;
    transition: border-color 0.25s ease-in-out;
    @include mixins.flex-center-y;

    &--error {
      border-color: variables.$red;
    }

    &:hover:not(&--error) {
      border-block-end-color: variables.$dark-grey;
    }
  }

  &:focus-within {
    @include mixins.focus-animation;
  }

  &__field {
    width: 100%;
    padding-block: 0.75em;
    border: 0;

    &::placeholder {
      font-size: 0.875em;
      color: variables.$dark-grey;
    }

    &:focus-visible {
      box-shadow: none !important;
    }
  }

  &__error {
    font-size: 0.875em;
    color: variables.$red;
  }

  &__passwordAction {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    @include mixins.flex-center;
  }
}
