$min-width: 320px;
$max-width: 1440px;
$white: hsl(0deg 0% 100%);
$black: hsl(0deg 0% 0%);
$golden: hsl(35.52deg 100% 24.51%);
$light-grey: hsl(0deg 0% 94%);
$dark-grey: hsl(0deg 0% 44%);
$red: hsl(11deg 100% 42%);
$stroke-color: hsl(0deg 0% 85%);
