@use "src/scss/mixins";
@use "src/scss/variables";

.header {
  position: relative;
  justify-content: space-between;
  border-block-end: 1px solid variables.$stroke-color;
  font-size: 1rem;

  @include mixins.flex-center-y;

  @include mixins.respond-to(xs) {
    padding-block-end: 0.25rem;
  }

  @include mixins.respond-to(sm) {
    padding-block-end: 0.5rem;
  }

  @include mixins.respond-to(lg) {
    padding-block-end: 1.666rem;
  }

  @include mixins.respond-to(xs) {
    border-block-end: none;
  }

  &__navigation {
    @include mixins.respond-to(xs) {
      display: none;
    }
  }
}
