@use "src/scss/mixins";
@use "src/scss/variables";

.header {
  position: relative;

  justify-content: space-between;
  border-bottom: 1px solid variables.$stoke-color;

  font-size: 1rem;

  @include mixins.respond-to(xs) {
    padding-bottom: 0.25rem;
  }

  @include mixins.respond-to(sm) {
    padding-bottom: 0.5rem;
  }

  @include mixins.respond-to(lg) {
    padding-bottom: 1.666rem;
  }

  @include mixins.flex-center-y;

  @include mixins.respond-to(xs) {
    border-bottom: none;
  }
}
