@use "src/shared/styles/variables";
@use "src/shared/styles/mixins";

.product {
  gap: 6.25em;
  margin-block: 2em;
  font-size: 1rem;
  @include mixins.flex-column;

  &__reviews {
    display: flex;
    gap: 5em;
  }

  &__reviewsList {
    @include mixins.flex-column;

    .reviewCard {
      padding-block: 1.5em;
      border-bottom: 1px solid variables.$stroke-color;

      &:first-child {
        padding-block-start: 0;
      }

      &:last-child {
        padding-block-end: 0;
        border: 0;
      }
    }
  }

  &__reviewList,
  &__reviewForm {
    flex: 1 1 auto;
  }
}
