@use "src/shared/styles/mixins";
@use "src/shared/styles/variables";

.carousel {
  position: relative;

  overflow: hidden;

  width: 100%;
  border-radius: 1em;

  font-size: 1rem;

  &__slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }

  &__slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
  }

  &__indicators {
    position: absolute;
    bottom: 1.5em;
    left: 50%;
    transform: translateX(-50%);

    gap: 0.5em;
    @include mixins.flex-center;
  }

  &__indicator {
    cursor: pointer;

    border: 1px solid variables.$white;
    border-radius: 50%;

    background-color: variables.$white;

    transition: all 0.15s ease-in-out;
    @include mixins.square-size(0.5em);

    &--active {
      background-color: transparent;
      @include mixins.square-size(0.75em);
    }
  }
}
