@use "src/scss/mixins";
@use "src/scss/variables";

.productsFilterForm {
  gap: 1em;
  font-size: 1rem;
  @include mixins.flex-column;

  // TODO: Create `Select` component
  &__category {
    cursor: pointer;

    padding-block: 0.75em;
    border: 0;
    border-block-end: 1px solid variables.$stoke-color;

    font-size: 1em;

    transition: border-color 0.25s ease-in-out;

    &:hover {
      border-block-end-color: variables.$dark-grey;
    }
  }
}
